@model FirstWebApplication.Models.AddEmployee

@{
    ViewData["Title"] = "AddEmployee";
}

<h1>Fill the below details</h1>
<form asp-action="AddEmployee" method="post">
    <div class="form-group">
        <label asp-for="EmployeeName">Employee Name</label>
        <input asp-for="EmployeeName" class="form-control" placeholder="Enter full name" required/>
    </div><br />
    <div class="form-group">
        <label asp-for="EmailAddress">Email</label>
        <input asp-for="EmailAddress" class="form-control" placeholder="Enter Email Address" required/>
    </div><br />
    <div class="form-group">
        <label asp-for="PhoneNumber">Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control" placeholder="Enter Phone Number" required/>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Department">Department</label>
        <select asp-for="Department" class="form-control" required>
            <option value="HR">HR</option>
            <option value="IT">IT</option>
            <option value="Sales">Sales</option>
            <option value="Finance">Finance</option>
            <option value="Marketing">Marketing</option>
        </select>
    </div><br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

